$primaryColor: #9389ea;
$secondaryColor: #d1eb78;

$darkBackground: #333333;
$darkSecondBackground: #212112;
$darkTextPrimary: #fefefe;

$lightBackground: #f5f5f5;
$lightSecondBackground: #cccccc;
$lightTextPrimary: #212121;

$errorBackground: #f1736a;
$errorText: #363636;

$divisorColor: transparentize(rgba(#6b717f, 0.5), 0.2);
$linkColor: #4787e9;

:export {
  primaryColor: $primaryColor;
  secondaryColor: $secondaryColor;

  darkBackground: $darkBackground;
  darkSecondBackground: $darkSecondBackground;
  darkTextPrimary: $darkTextPrimary;

  lightBackground: $lightBackground;
  lightSecondBackground: $lightSecondBackground;
  lightTextPrimary: $lightTextPrimary;
}
