.form-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
  padding-bottom: 1rem;

  border-bottom: solid 1px $lightTextPrimary;

  @include dark {
    border-bottom: solid 1px $darkTextPrimary;
  }

  .title {
    font-size: 2.3rem;
  }

  .actions {
    min-width: 100px;
  }
}
