$marginBetweenInpuButton: 25px;

.loginPage {
  margin-bottom: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  span {
    display: block;
    margin-bottom: 10px;
    font-size: x-large;
    text-align: center;

    color: $lightTextPrimary;

    @include dark {
      color: $darkTextPrimary;
    }
  }

  small {
    font-size: 0.9rem;
    color: $lightTextPrimary;

    @include dark {
      color: $darkTextPrimary;
    }

    a {
      color: $linkColor;
    }
  }

  .nameInput {
    margin-bottom: $marginBetweenInpuButton;
  }

  .buttonSignin {
    margin-top: $marginBetweenInpuButton;
  }
}
