// $primaryColor: #9389ea;
// $secondaryColor: #d1eb78;

// $darkBackground: #333333;
// $darkSecondBackground: #212112;
// $darkTextPrimary: #fefefe;

// $lightBackground: #f5f5f5;
// $lightSecondBackground: #cccccc;
// $lightTextPrimary: #212121;

// $errorBackground: #f1736a;
// $errorText: #363636;

// $divisorColor: transparentize(rgba(#6b717f, 0.5), 0.2);
// $linkColor: #4787e9;

.table {
  .table-head-row {
    background-color: $primaryColor;
    color: $darkTextPrimary;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 1.5rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    @include dark {
      background-color: $secondaryColor;
      color: $lightTextPrimary;
    }
  }

  .table-row {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    background-color: darken($lightBackground, $amount: 5);
    @include dark {
      background-color: lighten($darkBackground, $amount: 5);
    }

    &:nth-child(odd) {
      background-color: darken($lightBackground, $amount: 10);
      @include dark {
        background-color: lighten($darkBackground, $amount: 10);
      }
    }

    &:last-child {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }
}
